.header-container{
    min-height:5vh;
    background-color: rgb(133, 44, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4px;
    box-shadow:2px 2px 2px 2px #363638;
}
.link{
    font-family: "roboto";
    font-weight: 500;
    color: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}
.logout-btn{
    background-color: transparent;
    border:none;
    border-radius: 8px;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-family: "roboto";
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}